In [2]:
from datetime import datetime
# globalstart = datetime.now()
import pandas as pd
import numpy as np
import matplotlib
matplotlib.use('nbagg')

import matplotlib.pyplot as plt
plt.rcParams.update({'figure.max_open_warning': 0})

import seaborn as sns
sns.set_style('whitegrid')
import os
from scipy import sparse
from scipy.sparse import csr_matrix

from sklearn.decomposition import TruncatedSVD
from sklearn.metrics.pairwise import cosine_similarity
import random

# Preprocessing Data

In [259]:
df = pd.read_csv("train.csv")
challenge_df = pd.read_csv("challenge_data.csv")
test_df1= pd.read_csv("test 2.csv")

In [263]:
test_df1['taken']=1

In [265]:
test_df1.to_csv('testwithrating.csv')

In [105]:
test_df1.drop(['user_sequence','challenge_sequence','user_id'],inplace=True,axis=1)

In [179]:
test_df.to_csv('test.csv')

In [124]:
# Reading Train file as Sframe

In [286]:
import turicreate as tc
actions = tc.SFrame.read_csv('train.csv')
actions

Finished parsing file /Users/abuzaid/Downloads/Machine Learning/train_mddNHeX/train.csv

Parsing completed. Parsed 100 lines in 1.13322 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,int,int,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/abuzaid/Downloads/Machine Learning/train_mddNHeX/train.csv

Parsing completed. Parsed 903916 lines in 0.923616 secs.

Columns:
	user_sequence	str
	user_id	int
	challenge_sequence	int
	challenge	str

Rows: 903916

Data:
+---------------+---------+--------------------+-----------+
| user_sequence | user_id | challenge_sequence | challenge |
+---------------+---------+--------------------+-----------+
|     4576_1    |   4576  |         1          |  CI23714  |
|     4576_2    |   4576  |         2          |  CI23855  |
|     4576_3    |   4576  |         3          |  CI24917  |
|     4576_4    |   4576  |         4          |  CI23663  |
|     4576_5    |   4576  |         5          |  CI23933  |
|     4576_6    |   4576  |         6          |  CI25135  |
|     4576_7    |   4576  |         7          |  CI23975  |
|     4576_8    |   4576  |         8          |  CI25126  |
|     4576_9    |   4576  |         9          |  CI24915  |
|    4576_10    |   4576  |         10         |  CI24957  |
+---------------+---------+--------------------+-----------+
[903916 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [287]:
training_data, validation_data = tc.recommender.util.random_split_by_user(actions, 'user_id', 'challenge')

In [126]:
#traing model using Cosine

In [288]:
model2 = tc.item_similarity_recommender.create(training_data,
                                    user_id='user_id',
                                    item_id='challenge',    similarity_type='cosine')

Warning: Ignoring columns user_sequence, challenge_sequence;

 To use one of these as a rating column, specify the column name to be used as target

    and use a method that allows the use of a target.

Preparing data set.

    Data has 901342 observations with 69532 users and 5344 items.

    Data prepared in: 0.838018s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 1.722ms                        | 1.25       |

| 55.363ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 147.299ms                           | 0                | 0               |

| 509.186ms                           | 100              | 5344            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.588487s

In [289]:
model2.evaluate(validation_data)  #0.29 cosine

WARNING:root:Model trained without a target. Skipping RMSE computation.

Precision and recall summary statistics by cutoff
+--------+---------------------+---------------------+
| cutoff |    mean_precision   |     mean_recall     |
+--------+---------------------+---------------------+
|   1    | 0.37340425531914895 | 0.15312056737588653 |
|   2    | 0.30478723404255315 | 0.23906028368794321 |
|   3    |  0.250709219858156  | 0.28911347517730496 |
|   4    | 0.21675531914893617 | 0.32804964539007103 |
|   5    |  0.1980851063829787 |  0.3693794326241132 |
|   6    | 0.18226950354609925 |  0.4050177304964539 |
|   7    |  0.1694528875379938 | 0.43588652482269513 |
|   8    | 0.15651595744680852 |  0.4579255319148936 |
|   9    | 0.14539007092198578 | 0.47671985815602835 |
|   10   | 0.13531914893617025 |  0.4912765957446809 |
+--------+---------------------+---------------------+
[10 rows x 3 columns]

{'precision_recall_by_user': Columns:
 	user_id	int
 	cutoff	int
 	precision	float
 	recall	float
 	count	int

 Rows: 16920

 Data:
 +---------+--------+---------------------+--------+-------+
 | user_id | cutoff |      precision      | recall | count |
 +---------+--------+---------------------+--------+-------+
 |   4777  |   1    |         0.0         |  0.0   |   1   |
 |   4777  |   2    |         0.0         |  0.0   |   1   |
 |   4777  |   3    |  0.3333333333333333 |  1.0   |   1   |
 |   4777  |   4    |         0.25        |  1.0   |   1   |
 |   4777  |   5    |         0.2         |  1.0   |   1   |
 |   4777  |   6    | 0.16666666666666666 |  1.0   |   1   |
 |   4777  |   7    | 0.14285714285714285 |  1.0   |   1   |
 |   4777  |   8    |        0.125        |  1.0   |   1   |
 |   4777  |   9    |  0.1111111111111111 |  1.0   |   1   |
 |   4777  |   10   |         0.1         |  1.0   |   1   |
 +---------+--------+---------------------+--------+-------+
 [16920 rows x 5 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'precision_recall_overall': Columns:
 	cutoff	int
 	precision	float
 	recall	float

 Rows: 18

 Data:
 +--------+---------------------+---------------------+
 | cutoff |      precision      |        recall       |
 +--------+---------------------+---------------------+
 |   1    | 0.37340425531914895 | 0.15312056737588656 |
 |   2    |  0.3047872340425532 | 0.23906028368794335 |
 |   3    |  0.250709219858156  |  0.2891134751773051 |
 |   4    | 0.21675531914893617 | 0.32804964539007087 |
 |   5    | 0.19808510638297877 |  0.3693794326241137 |
 |   6    | 0.18226950354609925 | 0.40501773049645373 |
 |   7    | 0.16945288753799398 | 0.43588652482269485 |
 |   8    | 0.15651595744680863 |  0.4579255319148935 |
 |   9    | 0.14539007092198597 |  0.4767198581560282 |
 |   10   | 0.13531914893617022 |  0.4912765957446808 |
 +--------+---------------------+---------------------+
 [18 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.}

In [277]:
MaP=model2.evaluate(validation_data)

WARNING:root:Model trained without a target. Skipping RMSE computation.

Precision and recall summary statistics by cutoff
+--------+---------------------+---------------------+
| cutoff |    mean_precision   |     mean_recall     |
+--------+---------------------+---------------------+
|   1    | 0.30472103004291856 | 0.12880901287553637 |
|   2    |  0.2644849785407725 | 0.22010014306151648 |
|   3    | 0.23247496423462083 | 0.27956008583690983 |
|   4    | 0.20091201716738197 | 0.32492846924177393 |
|   5    | 0.18004291845493564 | 0.36230329041487835 |
|   6    |  0.1641630901287554 |  0.3940092989985694 |
|   7    | 0.14990803188228075 | 0.41763233190271826 |
|   8    | 0.13814377682403428 |  0.4384477825464951 |
|   9    |  0.1289938006676205 |  0.459513590844063  |
|   10   | 0.12027896995708151 |  0.4776824034334764 |
+--------+---------------------+---------------------+
[10 rows x 3 columns]

In [278]:
MaP.keys()
predict = pd.DataFrame()
predict=MaP['precision_recall_overall']

In [279]:
for x in MaP:
    print(x)

precision_recall_by_user
precision_recall_overall

In [280]:
measure = pd.DataFrame()
measure=predict.to_dataframe()

In [475]:
type(measure)
prd=pd.DataFrame()

In [282]:
measure.drop(['recall','cutoff'],inplace=True,axis=1)

In [283]:
measure = measure[:3]

#  Calculating Mean Avg Precision from mean precision

In [284]:
temp = measure.sum(axis = 0, skipna = True) 
temp=temp/3
print("Mean Avg Precision %s" %temp)

Mean Avg Precision precision    0.267227
dtype: float64

#  Mean Avg Precision 0.309456

# For Submission

In [268]:
submit=pd.DataFrame()
actions = tc.SFrame.read_csv('testwithrating.csv')
#actions=actions['user_id'
training_data1, validation_data1 = tc.recommender.util.random_split_by_user(actions, 'user_id', 'challenge')

Finished parsing file /Users/abuzaid/Downloads/Machine Learning/train_mddNHeX/testwithrating.csv

Parsing completed. Parsed 100 lines in 0.630226 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,int,int,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/abuzaid/Downloads/Machine Learning/train_mddNHeX/testwithrating.csv

Parsing completed. Parsed 397320 lines in 0.550884 secs.

In [269]:
model2 = tc.ranking_factorization_recommender.create(training_data1,item_id='challenge',user_id='user_id',target='taken')

Preparing data set.

    Data has 395370 observations with 39732 users and 4473 items.

    Data prepared in: 0.895424s

Training ranking_factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 32       |

| regularization                 | L2 Regularization on Factors                     | 1e-09    |

| solver                         | Solver used for training                         | adagrad  |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-09    |

| ranking_regularization         | Rank-based Regularization Weight                 | 0.25     |

| max_iterations                 | Maximum Number of Iterations                     | 25       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 49421 / 395370 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 10                | Not Viable                               |

| 1       | 2.5               | Not Viable                               |

| 2       | 0.625             | Not Viable                               |

| 3       | 0.15625           | Not Viable                               |

| 4       | 0.0390625         | Not Viable                               |

| 5       | 0.00976562        | 0.185273                                 |

| 6       | 0.00488281        | 0.207606                                 |

| 7       | 0.00244141        | 0.221209                                 |

| 8       | 0.0012207         | 0.237185                                 |

+---------+-------------------+------------------------------------------+

| Final   | 0.00976562        | 0.185273                                 |

+---------+-------------------+------------------------------------------+

Starting Optimization.

+---------+--------------+-------------------+-----------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training RMSE | Step Size   |

+---------+--------------+-------------------+-----------------------+-------------+

| Initial | 343us        | 0.250152          | 0.000516832           |             |

+---------+--------------+-------------------+-----------------------+-------------+

| 1       | 1.05s        | 0.473371          | 0.488525              | 0.00976562  |

| 2       | 2.05s        | 0.371271          | 0.433288              | 0.00976562  |

| 3       | 3.11s        | 0.365748          | 0.438574              | 0.00976562  |

| 4       | 4.26s        | 0.329858          | 0.407162              | 0.00976562  |

| 5       | 5.63s        | 0.327795          | 0.411747              | 0.00976562  |

| 10      | 10.02s       | 0.465391          | 0.552964              | 0.00976562  |

| 11      | 11.13s       | DIVERGED          | DIVERGED              | 0.00976562  |

| RESET   | 11.69s       | 0.250151          | 0.000774237           |             |

| 4       | 15.29s       | 0.190037          | 0.129787              | 0.00488281  |

| 9       | 19.94s       | 0.180711          | 0.142438              | 0.00488281  |

| 14      | 24.57s       | 0.170033          | 0.169376              | 0.00488281  |

| 19      | 29.10s       | 0.164888          | 0.170055              | 0.00488281  |

+---------+--------------+-------------------+-----------------------+-------------+

Optimization Complete: Maximum number of passes through the data reached (hard limit).

Computing final objective value and training RMSE.

       Final objective value: 0.164324

       Final training RMSE: 0.167712

In [519]:
m2 = tc.item_similarity_recommender.create(training_data1,user_id='user_id',item_id='challenge',   
 
    only_top_k=3,
                                               similarity_type='jaccard',

 )

Warning: Ignoring columns user_sequence, challenge_sequence;

 To use one of these as a rating column, specify the column name to be used as target

    and use a method that allows the use of a target.

Preparing data set.

    Data has 395370 observations with 39732 users and 4473 items.

    Data prepared in: 0.470097s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 1.746ms                        | 2.5        |

| 27.662ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 88.8ms                              | 0                | 0               |

| 214.016ms                           | 100              | 4473            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.260367s

In [520]:


prd=m2.recommend(k=3)

recommendations finished on 1000/39732 queries. users per second: 37629.4

recommendations finished on 2000/39732 queries. users per second: 39739.3

recommendations finished on 3000/39732 queries. users per second: 40348.1

recommendations finished on 4000/39732 queries. users per second: 40005.6

recommendations finished on 5000/39732 queries. users per second: 38340.3

recommendations finished on 6000/39732 queries. users per second: 36831.3

recommendations finished on 7000/39732 queries. users per second: 35623.4

recommendations finished on 8000/39732 queries. users per second: 34894

recommendations finished on 9000/39732 queries. users per second: 34709

recommendations finished on 10000/39732 queries. users per second: 34608.2

recommendations finished on 11000/39732 queries. users per second: 33863.6

recommendations finished on 12000/39732 queries. users per second: 33758.2

recommendations finished on 13000/39732 queries. users per second: 33331.5

recommendations finished on 14000/39732 queries. users per second: 32744.1

recommendations finished on 15000/39732 queries. users per second: 32650.2

recommendations finished on 16000/39732 queries. users per second: 32468.3

recommendations finished on 17000/39732 queries. users per second: 32330.3

recommendations finished on 18000/39732 queries. users per second: 32363.1

recommendations finished on 19000/39732 queries. users per second: 32150.7

recommendations finished on 20000/39732 queries. users per second: 32216.2

recommendations finished on 21000/39732 queries. users per second: 32243

recommendations finished on 22000/39732 queries. users per second: 32155.2

recommendations finished on 23000/39732 queries. users per second: 32233.9

recommendations finished on 24000/39732 queries. users per second: 32084.9

recommendations finished on 25000/39732 queries. users per second: 32158.9

recommendations finished on 26000/39732 queries. users per second: 32210.5

recommendations finished on 27000/39732 queries. users per second: 32196.7

recommendations finished on 28000/39732 queries. users per second: 32243.4

recommendations finished on 29000/39732 queries. users per second: 32248.6

recommendations finished on 30000/39732 queries. users per second: 32139.4

recommendations finished on 31000/39732 queries. users per second: 32146.7

recommendations finished on 32000/39732 queries. users per second: 31993.8

recommendations finished on 33000/39732 queries. users per second: 32032.3

recommendations finished on 34000/39732 queries. users per second: 31942.5

recommendations finished on 35000/39732 queries. users per second: 31955.7

recommendations finished on 36000/39732 queries. users per second: 31923.3

recommendations finished on 37000/39732 queries. users per second: 31963.3

recommendations finished on 38000/39732 queries. users per second: 31980

recommendations finished on 39000/39732 queries. users per second: 32031.3

In [521]:
prd

Columns:
	user_id	int
	challenge	str
	score	float
	rank	int

Rows: 119196

Data:
+---------+-----------+----------------------+------+
| user_id | challenge |        score         | rank |
+---------+-----------+----------------------+------+
|   4577  |  CI23848  | 0.013490909337997436 |  1   |
|   4577  |  CI25126  | 0.012203574180603027 |  2   |
|   4577  |  CI24968  | 0.01219664216041565  |  3   |
|   4578  |  CI23848  | 0.02426079511642456  |  1   |
|   4578  |  CI25126  | 0.018960899114608763 |  2   |
|   4578  |  CI24530  | 0.01364293098449707  |  3   |
|   4579  |  CI26961  | 0.13715605735778807  |  1   |
|   4579  |  CI26960  | 0.09162238836288453  |  2   |
|   4579  |  CI26959  | 0.07853366136550903  |  3   |
|   4583  |  CI24917  | 0.03982434272766113  |  1   |
+---------+-----------+----------------------+------+
[119196 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [273]:
#frm = similar_items.to_dataframe()
frm = similar_items.to_dataframe()
frm.shape
#208596-119196

(119196, 4)

In [453]:
#rank = [1, 2,3]
#frm1 = frm[frm['rank'] <=3] 
#frm1 = frm[condition]

model2.save("model_sim")

In [241]:
frm = frm[:119196]

In [242]:
frm.shape #119196

(119196, 4)

In [274]:
frm.tail()

        user_id challenge     score  rank
119191   113834   CI23855  1.141737     2
119192   113834   CI23933  1.138701     3
119193   113838   CI23663  1.127142     1
119194   113838   CI26219  1.126158     2
119195   113838   CI26221  1.123369     3

In [393]:
frm = pd.DataFrame()
frm1 =pd.DataFrame()

In [172]:
validation_data

Columns:
	user_sequence	str
	user_id	int
	challenge_sequence	int
	challenge	str

Rows: 1950

Data:
+---------------+---------+--------------------+-----------+
| user_sequence | user_id | challenge_sequence | challenge |
+---------------+---------+--------------------+-----------+
|     5028_1    |   5028  |         1          |  CI26940  |
|     5216_9    |   5216  |         9          |  CI27655  |
|     5220_9    |   5220  |         9          |  CI26912  |
|     5234_2    |   5234  |         2          |  CI26955  |
|     5234_4    |   5234  |         4          |  CI26958  |
|    5720_10    |   5720  |         10         |  CI23612  |
|     5726_8    |   5726  |         8          |  CI24921  |
|    5726_10    |   5726  |         10         |  CI24931  |
|     5975_5    |   5975  |         5          |  CI25302  |
|     5975_7    |   5975  |         7          |  CI24958  |
+---------------+---------+--------------------+-----------+
[1950 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [479]:
type(frm)

pandas.core.frame.DataFrame

In [275]:
#frm.drop(['score','rank','challenge'],inplace=True,axis=1)

frm.drop(['score','rank','user_id'],inplace=True,axis=1)

In [276]:
frm.head(20)

   challenge
0    CI26925
1    CI26923
2    CI26915
3    CI26925
4    CI26923
5    CI26910
6    CI23663
7    CI23855
8    CI23714
9    CI26925
10   CI26923
11   CI26910
12   CI26925
13   CI26923
14   CI26915
15   CI26925
16   CI26923
17   CI26915
18   CI26925
19   CI26923

In [277]:
sub = pd.read_csv('sample_submission_J0OjXLi_DDt3uQN.csv')
sub.shape

(119196, 2)

In [278]:
sub.head()

  user_sequence challenge
0       4577_11   CI23648
1       4577_12   CI23648
2       4577_13   CI23648
3       4578_11   CI23648
4       4578_12   CI23648

In [279]:
frm.tail(10)

       challenge
119186   CI23855
119187   CI23663
119188   CI23714
119189   CI23855
119190   CI23714
119191   CI23855
119192   CI23933
119193   CI23663
119194   CI26219
119195   CI26221

In [280]:
#frm['user_sequence'] = sub['user_sequence']
frm['user_sequence'] = sub['user_sequence']
frm.head()

  challenge user_sequence
0   CI26925       4577_11
1   CI26923       4577_12
2   CI26915       4577_13
3   CI26925       4578_11
4   CI26923       4578_12

In [221]:
frm.rename(columns={"similar": "challenge"},inplace=True)

In [281]:
frm.reset_index(drop=True, inplace=True)

In [283]:
frm.to_csv('Submission1.csv',index=False)

In [282]:
frm = frm.reindex(columns=['user_sequence','challenge'])

#frm=frm[:397321]
frm.shape

(119196, 2)

In [201]:
import scipy
from scipy import sparse
mat=scipy.sparse.csr_matrix(df.values)
test_mat = scipy.sparse.csr_matrix(test_df.values)
full_mat = scipy.sparse.csr_matrix(df_full.values)
#tstdf=scipy.sparse.csr_matrix(test_df1)

In [204]:
mat= mat.tocsr()
type(mat)

df = pd.DataFrame(mat.toarray())

In [87]:
import implicit

# initialize a model
model = implicit.als.AlternatingLeastSquares( factors=100,
    regularization=0.01,
    use_native=True,
    use_cg=True,
    use_gpu=False,
    iterations=15,
    calculate_training_loss=False,
    validate_step=-1,
    validate_N=30,
    validate_proportion=0.05,    num_threads=-1,

)

# train the model on a sparse matrix of item/user/confidence weights
model.fit(mat)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

In [51]:
userid=pd.read_csv('username.csv')
userid.drop(['Unnamed: 0'],inplace=True,axis=1)

In [88]:
col_arr = np.rray(col) 
products_arr = np.array(chlg)
test_mat_csr = test_mat.tocsr()

In [89]:

recommendations = model.recommend( userid=col_arr,user_items=test_mat_csr,N=3)

IndexError: index 5607 is out of bounds for axis 0 with size 5606

In [41]:
test_mat.shape

(1000, 5606)

In [569]:
test_df.shape

(1000, 5606)

In [63]:
products_arr.shape

(5606,)

In [79]:
X = mat
X.shape

(19231, 5606)

In [80]:

import sklearn
from sklearn.decomposition import TruncatedSVD

SVD = TruncatedSVD(n_components=12, random_state=17)
matrix = SVD.fit_transform(X)
matrix.shape

(19231, 12)

In [154]:


usid.shape

(397320,)

In [153]:

#m7 = tc.load_model("model_sim")
usid=tc.load_sarray(test_df1['user_id'])

In [299]:
similar_items

Columns:
	challenge	str
	similar	str
	score	float
	rank	int

Rows: 16032

Data:
+-----------+---------+---------------------+------+
| challenge | similar |        score        | rank |
+-----------+---------+---------------------+------+
|  CI23714  | CI25126 |  0.2595669627189636 |  1   |
|  CI23714  | CI23855 |  0.2521401047706604 |  2   |
|  CI23714  | CI23663 | 0.24839341640472412 |  3   |
|  CI23855  | CI23663 | 0.26378363370895386 |  1   |
|  CI23855  | CI23714 |  0.2521401047706604 |  2   |
|  CI23855  | CI23975 | 0.23811578750610352 |  3   |
|  CI24917  | CI23855 |  0.2321857213973999 |  1   |
|  CI24917  | CI24958 | 0.20691877603530884 |  2   |
|  CI24917  | CI23933 | 0.20318257808685303 |  3   |
|  CI23663  | CI23855 | 0.26378363370895386 |  1   |
+-----------+---------+---------------------+------+
[16032 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [210]:
usid

dtype: str
Rows: 397320
['CI23855', 'CI23933', 'CI24917', 'CI24915', 'CI23714', 'CI23663', 'CI24958', 'CI25135', 'CI25727', 'CI24530', 'CI23663', 'CI23855', 'CI24917', 'CI23933', 'CI23975', 'CI23714', 'CI25135', 'CI24915', 'CI24958', 'CI23781', 'CI26939', 'CI26940', 'CI26941', 'CI26942', 'CI26943', 'CI26944', 'CI26945', 'CI26947', 'CI26948', 'CI26954', 'CI23663', 'CI23855', 'CI23975', 'CI23714', 'CI23848', 'CI23933', 'CI25135', 'CI23781', 'CI24530', 'CI23667', 'CI23855', 'CI23975', 'CI25135', 'CI23848', 'CI23714', 'CI24917', 'CI23929', 'CI25733', 'CI25126', 'CI23913', 'CI23714', 'CI23855', 'CI23933', 'CI25126', 'CI23663', 'CI25135', 'CI24530', 'CI23975', 'CI24527', 'CI23648', 'CI23663', 'CI23933', 'CI24917', 'CI24958', 'CI23648', 'CI23714', 'CI23781', 'CI23975', 'CI24915', 'CI24530', 'CI26157', 'CI26158', 'CI26159', 'CI26160', 'CI26161', 'CI26162', 'CI26164', 'CI26165', 'CI26163', 'CI26166', 'CI23855', 'CI24917', 'CI24958', 'CI23836', 'CI24915', 'CI23933', 'CI23663', 'CI23714', 'CI23975', 'CI24261', 'CI26157', 'CI26158', 'CI26160', 'CI26161', 'CI26162', 'CI26164', 'CI26165', 'CI26163', 'CI26166', 'CI26167', ... ]